div#goal-container {
    background: pink;
    width: 50%;
    margin: 0 auto  4px auto;
    padding: 1em;
    box-shadow: 5px 8px 0 black;
    //box-shadow: 1px 1px 0 blue;
}

span.left {
    font-weight: bold;
}

span.right {
    float: right;
}