div#kawase-container {
    background: white;
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
    //box-shadow: 1px 1px 0 blue;
}

div#getRates-container {
    background: Pink;
    width: 207%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
    //box-shadow: 1px 1px 0 blue;
}

span.left {
    font-weight: bold;
}

span.right {
    float: right;
}