<!--The whole content below can be removed with the new code.-->

<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/48">Bucket List</a></li>  <!--#6 add /48 to show that you could get :id-->
  <li><a routerLink="http-test">HTTP GET & POST Request</a></li>      
  <li><a routerLink="crypto">Cryptocurrency API</a></li>      
</ul>

<!-- #1or2 To nest a component, refer to the selector in the COMPONENTNAME.ts -->
<!-- #6 In the process 6, get rid of app-home selector-->
<!-- <app-home></app-home> -->

<router-outlet></router-outlet>
